/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), "Segoe UI";
  font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght);
  min-inline-size: 1440px;
  inline-size: 100%;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 98px;

  padding: 100px 370px;
}

.header {
  inline-size: var(--inline-size);
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #000;
  min-block-size: 368px;
  block-size: 100%;
  font-family: var(--accent-font);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__title {
  font-size: 65px;
}

.header__description {
  font-size: 23px;
}