/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font), "Segoe UI";
  font-variation-settings:
    "wdth" var(--wdth),
    "wght" var(--wght);
  color: #000;

  inline-size: 100vw;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 98px;

  padding: 100px 370px;
}

.header {
  inline-size: var(--inline-size);
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #000;
  min-block-size: 368px;
  block-size: 100%;
  font-family: var(--accent-font);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__title {
  font-size: var(--header-font-size);
}

.header__description {
  font-size: 23px;
}

.main-content {
  inline-size: var(--inline-size);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
}

.card__title {
  font-size: 18px;
  line-height: 22px;
  text-wrap-style: balance;
  color: #000;
  inline-size: var(--inline-size);
  border-bottom: 2px solid #000;
}

.card__img {
  display: block;
  inline-size: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-top: 2px solid #000;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.card__butttons-container {
  inline-size: 53%;
  block-size: 38px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 7px 0;
}

.card__like-button {
  position: relative;
  background-color: transparent;
  border: none;
  font-family: var(--accent-font);
  inline-size: 130px;
  border: 2px solid #000;
  padding: 8px 17px;
}

.button_animation {
  transition: box-shadow 0.3s ease;
}

.button_animation:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.button_animation::before {
  content: "";
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
  transform : scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 50%;
}

.button_animation:hover::before{
  transform: scaleX(1);
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.card__memory-button {
  position: relative;
  padding: 15px 20px;
  max-inline-size: 355px;
  display: flex;
  gap: 8px;
  background-color: #fff;
  border: 2px solid #000;
  align-self: center;
  align-items: center;
  line-height: 90%;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  box-shadow: 1px 1px solid var(--stroke-color);
}

.label__text {
  font-size: 14px;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  color: #000;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px var(--stroke-color),
    1px 1px var(--stroke-color),
    -1px 1px var(--stroke-color),
    1px -1px var(--stroke-color);
}

dialog[open] {
  display: grid;
  grid-template-columns: 39px 234px;
  column-gap: 20px;
  row-gap: 30px;
  min-inline-size: 353px;
  min-block-size: 191px;
  padding: 30px;
  align-self: center;
}

dialog[open]::backdrop {
  background-color: #000000bf;
}

body:has(dialog[open]) {
  overflow: hidden;
}

dialog .button__text {
  line-height: 150%;
}

.ok-button {
  position: relative;
  grid-column: span 2;
  background-color: #fff;
  border: 2px solid #000;
  block-size: 38px;
}

.first-sprint__img {
  filter: grayscale(0.8);
}

.first-sprint-project__img {
  filter: saturate(4);
}

.second-sprint__img {
  filter: hue-rotate(0.1turn);
}

.second-sprint-community__img {
  filter: invert(1) contrast(0.8);
}

.third-sprint__img {
  filter: sepia(1);
}

.third-sprint-concentration__img {
  filter: blur(11px);
  border-radius: 3px;
}

.current-step__img {
  filter: hue-rotate(0.3turn) contrast(0.3);
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .label__text {
    -webkit-text-stroke: 0.5px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .page {
    padding: 100px 0;
  }

  .header {
    min-block-size: 327px;
  }

  .header__title {
    font-size: 49px;
  }

  .header__description {
    font-size: 14px;
  }

  .card__label {
    top: 61px;
  }

  .card__title {
    padding: 4px 10px;
  }

  .card__butttons-container {
    inline-size: 53%;
  }

  .card__memory-button {
    inline-size: 306px;
    block-size: 84px;
    flex-direction: column;
    padding: 12px 15px;
    gap: 20px;
  }

  .card__memory-button svg {
    scale: 1.3;
  }
}
