/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font), "Segoe UI";
  font-variation-settings:
    "wdth" var(--wdth),
    "wght" var(--wght);
  color: #000;

  inline-size: 100vw;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 98px;

  padding: 100px 370px;
}

.header {
  inline-size: var(--inline-size);
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #000;
  min-block-size: 368px;
  block-size: 100%;
  font-family: var(--accent-font);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__title {
  font-size: 65px;
}

.header__description {
  font-size: 23px;
}

.main-content {
  inline-size: var(--inline-size);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
}

.card__title {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.card__img {
  display: block;
  inline-size: var(--inline-size);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__like-button {
  background-color: transparent;
  border: none;
  font-family: var(--accent-font);
  inline-size: 169px;
  block-size: 38px;
  align-self: flex-end;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.button__text {
  background-color: #fff;
  border: 2px solid #000;
  padding: 9px 27px;
  font-size: 14px;
}
.card__icon-button .button__text {
  background-color: transparent;
  border: none;
  padding: 0;
}

.card__icon-button {
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font);
  inline-size: 355px;
  block-size: 55px;
  align-self: center;
  justify-self: flex-end;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
}

.popover__description {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
}

#flopper-popover {
  border-width: 2px;
  padding: 25px;
  block-size: 191px;
  min-inline-size: 341px;
  max-inline-size: 353px;
}

#flopper-popover .card__icon-button {
  block-size: 2.8rem;
  inline-size: 100%;
  padding: 0;
}

.popover__description span {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
  max-inline-size: 234px;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  box-shadow: 1px 1px solid var(--stroke-color);
}

.label__text {
  font-size: 14px;
  /* watermark */
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  text-transform: uppercase;
  opacity: 0.5;
  color: #000;
}

@supports((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .label__text {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
} 