/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font), "Segoe UI";
  font-variation-settings:
    "width" 0,
    "wght" var(--wght);
  color: var(--main-color);

  inline-size: 100vw;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--accent-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 109px;

  padding: 100px 370px;
}

.header {
  display: flex;
  inline-size: var(--inline-size);
  padding: 127px 0;
  text-transform: uppercase;
  background-color: var(--accent-color);
  border: 2px solid var(--main-color);
  font-family: var(--accent-font);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.header__title {
  font-size: var(--header-font-size);
}

.header__description {
  font-size: 23px;
}

.main-content {
  inline-size: var(--inline-size);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--accent-color);
  border: 2px solid var(--main-color);
}

.card__title {
  font-size: 18px;
  line-height: 22px;
  text-wrap-style: balance;
  color: var(--main-color);
  inline-size: 100%;
  block-size: 100%;
  border-bottom: 2px solid var(--main-color);
  padding: 4px 9px;
}

.card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 23px 25px 19px;
  border-top: 2px solid var(--main-color);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.card__butttons-container {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: flex-start;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  border-color: transparent;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
  border-radius: 0;
}

.card__like-button {
  position: relative;

  font-family: var(--accent-font);
  inline-size: 130px;

  padding: 8px 17px;
}

.button {
  border: 2px solid var(--main-color);
  background-color: transparent;
}

.button_animation {
  transition: box-shadow 0.3s ease;
}

.button_animation:focus {
  outline: none;
}

.button_animation:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.button_animation::before {
  content: "";
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 50%;
}

.button_animation:hover::before {
  transform: scaleX(1);
}

.button__text {
  z-index: 2;
  position: relative;
  font-size: 14px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  mix-blend-mode: difference;
  align-self: center;
  justify-self: center;
}

.main-body,
.core {
  fill: transparent;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

.like-icon:hover .core {
  align-self: center;
  justify-self: center;
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .heart {
  animation: heart-beating 0.3s 0.1s ease-in 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-shine 0.3s 0.3s ease-in 1;
}

.card__memory-button {
  position: relative;
  padding: 15px 20px;
  max-inline-size: 355px;
  display: flex;
  gap: 8px;
  border: 2px solid var(--main-color);
  align-self: center;
  align-items: center;
  line-height: 90%;
  background-color: var(--accent-color);
}

.card__memory-button:hover svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  stroke: var(--accent-color);
}

.card__label {
  position: relative;
}

.label__text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  color: var(--main-color);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px var(--stroke-color),
    1px 1px var(--stroke-color),
    -1px 1px var(--stroke-color),
    1px -1px var(--stroke-color);
}

dialog[open] {
  display: grid;
  grid-template-columns: 39px 234px;
  column-gap: 20px;
  row-gap: 30px;
  min-inline-size: 353px;
  min-block-size: 191px;
  padding: 30px;
  align-self: center;
  justify-self: center;
}

dialog[open]::backdrop {
  background-color: var(--backdrop-bg-color);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.flopper-dialog__title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;

  color: #000000;
}

.ok-button {
  position: relative;
  grid-column: span 2;
  background-color: var(--accent-color);
  block-size: 38px;
}

.filter-gray {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(4);
}

.filter-hue {
  filter: hue-rotate(0.1turn);
}

.filter-invert {
  filter: invert(1) contrast(0.8);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-blur {
  filter: blur(11px);
  border-radius: 3px;
}

.filter-hue-contrast {
  filter: hue-rotate(0.3turn) contrast(0.3);
}

.floppy-small {
  align-self: center;
  justify-self: center;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .label__text {
    -webkit-text-stroke: 0.5px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .page {
    padding: 100px 0;
  }

  .header {
    padding: 120px 0;
  }

  .header__description {
    font-size: 14px;
  }

  .card__title {
    padding: 4px 10px;
  }

  .card__memory-button {
    inline-size: 306px;
    block-size: 84px;
    flex-direction: column;
    padding: 12px 15px;
    gap: 13px;
  }

  .floppy-small {
    width: 28px;
    height: 28px;
  }
}
