/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter-Variable", sans-serif;
    --accent-font: "PressStart2P-Regular";
    --wdth: 0;
    --wght: 400;
}